<header>
  <div class="headerstrip">
    <div class="container">
        <div class="row">
            <div class="col-lg-12"> <a href="/" class="logo pull-left"><img src="/user/img/logo.jpg" alt="SimpleOne" title="SimpleOne"></a> 
                <!-- Top Nav Start -->
                <div class="pull-left">
                    <div class="navbar" id="topnav">
                        <div class="navbar-inner">
                            <ul class="nav" >
                                <li><a class="home active" href="/">Home</a> </li>
                                <li><a class="shoppingcart" href="/cart-info">Shopping Cart</a> </li>
                                <li><a class="checkout" href="/check-out">CheckOut</a> </li>
                                <li><a class="myaccount" href="/login">My Account</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Top Nav End -->
                <div class="pull-right">
                    <form action="/search" method="post" class="form-search top-search">
                        <input type="hidden" name="_token" value="mCXPiZv3i6RG0azccac3S0Bi383d9rjApAWuZ2ud">
                        <input type="text" name="key_search" class="input-medium search-query" placeholder="Search Here…">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>    
    <div class="container">
        <div id="categorymenu">
            <nav class="subnav">
                <ul class="nav-pills categorymenu">
                    <li><a class="active"  href="/">Home</a></li>
                    <li><a class=""  href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>          
    </div>
</header>
<!-- Header End -->