<!-- Featured Product-->
<div id="featured" class="row mt40">
  <div class="container">
    <h1 class="heading1"><span class="maintext">Featured Products</span><span class="subtext"> See Our Most featured Products</span></h1>
    <ul class="thumbnails">
            <li class="col-lg-3  col-sm-6">
        <a class="prdocutname" href="./product-detail/1">Quần Nam</a>
        <div class="thumbnail">
                    <span class="sale tooltip-test">Sale</span>
                    <a href="http://localhost:8001/product-detail/1"><img alt="" src="/upload/shotnam1.jpg"></a>
<!--           <div class="shortlinks">
            <a class="details" href="#">DETAILS</a>
            <a class="wishlist" href="#">WISHLIST</a>
            <a class="compare" href="#">COMPARE</a>
          </div> -->
          <div class="pricetag">
                          <span class="spiral"></span><a href="http://localhost:8001/product-detail/1" class="productcart">ADD TO CART</a>
                        <div class="price">
                              <div class="pricenew">$25000</div>
                <div class="priceold">$20000</div>
                          </div>
          </div>
        </div>
      </li>
          </ul>
  </div>
</div>

<!-- Latest Product-->
<div id="latest" class="row">
  <div class="container">
    <h1 class="heading1"><span class="maintext">Latest Products</span><span class="subtext"> See Our Latest Products</span></h1>
    <ul class="thumbnails">
            <li class="col-lg-3 col-sm-6">
        <a class="prdocutname" href="http://localhost:8001/product-detail/1">Quần Nam</a>
        <div class="thumbnail">
                    <span class="sale tooltip-test">Sale</span>
                    <a href="http://localhost:8001/product-detail/1"><img alt="" src="/upload/shotnam.jpg"></a>
<!--           <div class="shortlinks">
            <a class="details" href="#">DETAILS</a>
            <a class="wishlist" href="#">WISHLIST</a>
            <a class="compare" href="#">COMPARE</a>
          </div> -->
          <div class="pricetag">
                          <span class="spiral"></span><a href="http://localhost:8001/product-detail/1" class="productcart">ADD TO CART</a>
                        <div class="price">
                              <div class="pricenew">$25000</div>
                <div class="priceold">$20000</div>
                          </div>
          </div>
        </div>
      </li>
          </ul>
  </div>
</div>
  

</div>
<!-- /maincontainer -->